<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <img src="../../assets/images/quacken.jpg" class="img-fluid" alt="Responsive image">
    </div>

    <div class="col-sm-8">
      <h2>A propos de moi : </h2>
      <h5>Antoine Labeeuw, musicien et développeur</h5>
      <p>Bienvenue sur mon site ! <br />
        Ici, vous pourrez me découvrir, ainsi que voir mon parcours et mes expériences.</p>
      Au cours de ma licence Biochimie-Biologie moléculaire, j'ai découvert ma passion pour le développement
      informatique. J'ai donc décidé de continuer ma formation vers la Bio-Informatique afin de me rapprocher
      de l'informatique, sans pour autant dénigrer la biologie.<br />
      <p>À la fin de celui-ci, j'ai décidé de
        faire le
        grand saut et de devenir Ingénieur Informaticien Java DevOps. C'est dans cette optique que j'ai rejoint
        <a target="_blank" rel="noopener noreferrer" href="https://www.dta-ingenierie.fr">DTA Ingénierie</a>. Je suis
        actuellement une formation Java
        DevOps auprès de <a target="_blank" rel="noopener noreferrer" href="https://www.diginamic.fr">Diginamic.</a></p>
    </div>
  </div>
</div>
