<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{ collegue.nom }} {{ collegue.prenoms }}</h5>
      </div>
      <div class="card-body">
        <img src="{{ collegue.photoUrl }}" class="card-img-top">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Matricule : {{ collegue.matricule }}</li>
          <li class="list-group-item">Date de naissance : {{ collegue.dateDeNaissance | date:'dd-MM-yyyy'}}</li>
          <li class="list-group-item">E-mail : {{ collegue.email }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
