<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4" style="text-align: center;">
      <img class="mx-auto d-block img-fluid" style="max-width:150px;" src="{{ collegues['photoUrl'] }}" />
    </div>
    <div class="col-sm-5" style="text-align: left;">
      <p>Matricule : {{ collegues.matricule }}<br />
        Nom : {{ collegues.nom | uppercase }}<br />
        Prenom : {{ collegues.prenoms }}<br />
        Date de naissance : {{ collegues.dateDeNaissance | date:'dd-MM-yyyy'}}<br />
        E-mail :
        <ng-container *ngIf="!edit">{{ collegues.email }}</ng-container>
        <input type="email" #email class="form-control" *ngIf="edit">
        <ng-container *ngIf="edit">Photo URL :
          <input type="text" #photoUrl class="form-control" *ngIf="edit">
        </ng-container>
      </p>
      <a href="#" (click)="consoleCreation()" [hidden]="edit">Créer un nouveau collègue</a>
      <button type="button" class="btn btn-outline-secondary float-right" (click)="consoleModification()"
        *ngIf="!edit">Modifier</button>
      <button type="button" class="btn btn-outline-secondary float-right" (click)="consoleValider()"
        *ngIf="edit">Valider</button>
    </div>
  </div>
</div>
